table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid black;
}

.visible {
    background-color: #c0c0c0;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.red {
    color: red;
}

.error {
    color: red;
}
