.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.cell {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.visible {
    background-color: #f5f5f5;
}

.green {
    color: #00cc00;
}

.yellow {
    color: #cccc00;
}

.red {
    color: #cc0000;
}

#timer {
    margin-top: 20px;
}

#message {
    margin-top: 20px;
    font-weight: bold;
}

#guess-input {
    margin-top: 20px;
    width: 100px;
    height: 30px;
    font-size: 16px;
    padding: 5px;
}

#guess-button {
    margin-top: 10px;
    font-size: 16px;
    padding: 5px 10px;
}
