<!DOCTYPE html>
<html>
<head>
    <title>Wordle Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to Wordle!</h1>
    <p>Guess the five-letter word.</p>
    <p>You have 6 attempts.</p>
    <p>You have 3 minutes to complete the game.</p>
    
    <form method="POST" action="/">
        <input type="submit" value="Play" class="play-button">
    </form>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

